
<div class="side-panel p-3">
    <div class="logo py-3"><div class="ms-auto">
    <img src="../../../assets/images/developers-iq-logo.png"/></div></div>
    <!-- <h3 class="py-4"><b>Hire Dedicated Offshore Remote Developers in any Skill & Technology</b></h3> -->
    <h3 class="pt-2 pb-3"><b>Hire trusted, pre-vetted developers that fit your needs.</b></h3>
    <!-- <ul>

        <li><span class="icon-s"><img src="../../../assets/images/DevelopmentCost.png"/></span>Save up-to 50% of Development Cost </li>
        <li><span class="icon-s"><img src="../../../assets/images/HappyClients.png"/></span>150+ Happy Clients</li>
        <li><span class="icon-s"><img src="../../../assets/images/QualifiedWebResources.png"/></span> Qualified Web Resources</li>
    </ul> -->
   <div class="pb-3 pt-4">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="client-slider">
                    <div>
                        <p>"To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is languages are members" </p>
                        <div class="text-container row row align-items-center">
                            <div class="col-12">
                            <div class="row">
                            <div class="col-12">
                            <div class="circle1">
                            <img src="../../assets/images/c-2.jpg"/>  
                            </div>            
                            </div>
                            <div class="col-12">  
                            <div class="client-name">Emma</div>
                            <div class="client-name-relation">Hr, Swiggy</div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="client-slider">
                    <div>
                        <p>" To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is languages are members " </p>
                        <div class="text-container row align-items-center">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                    <div class="circle1">
                                    <img src="../assets/images/c-3.jpg"/>  
                                    </div>            
                                    </div>
                                    <div class="col-12">  
                                    <div class="client-name">Oliver</div>
                                    <div class="client-name-relation">Hr, Developeriq</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="client-slider">
                    <div>
                        <p>" To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is languages are members " </p>
                        <div class="text-container row row align-items-center">
                            <div class="col-12">
                            <div class="row">
                            <div class="col-12">
                            <div class="circle1">
                            <img src="../assets/images/c-4.jpg"/>  
                            </div>            
                            </div>
                            <div class="col-12">  
                            <div class="client-name">Ava</div>
                            <div class="client-name-relation">President ,developeriq</div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
     
        </owl-carousel-o>
    </div> 
    <div class="pt-3">
        <p>Loved by world's leading companies</p>
        <div class="row">
            <div class="col-4 p-2"><img src="../../../assets/images/patners/uber-white-logo.svg" alt="" class="company-logo"></div>
            <div class="col-4 p-2"><img src="../../../assets/images/patners/github-white-logo.svg" alt="" class="company-logo"></div>
            <div class="col-4 p-2"><img src="../../../assets/images/patners/Leap-finance-white-logo.svg" alt="" class="company-logo"></div>
            <div class="col-4 p-2"><img src="../../../assets/images/patners/khatabook-white-logo.svg" alt="" class="company-logo"></div>
            <div class="col-4 p-2"><img src="../../../assets/images/patners/adani-white-logo.svg" alt="" class="company-logo"></div>
            <div class="col-4 p-2"><img src="../../../assets/images/patners/airbnb-white-logo.svg" alt="" class="company-logo"></div>
        </div>
    </div>   
</div>
    

