<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3  g-0 mobile-off">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9">
                <div class="right-panel">
                <div class="p-3">
                    <div class="desktop-none mobile-on">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="logo py-4"><img src="../../../assets/images/developers-iq-logo.png"/></div>
                            <span class="indicator blue10">Step 3/3</span>
                           </div>
                        </div>
                       <div class="d-flex justify-content-between align-items-center">
                        <h1><b>Awesome! Let’s find some time for you <br/>and us to chat</b></h1>                        
                        <span class="indicator blue10 step-off">Step 3/3</span>
                       </div>
                       <p>We will reach out to you shortly. If you would like to speak with us immediately,
                        please schedule a call here</p>
                    <div class="py-4">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">
                                        <img class="avtar-img" src="../../../assets/images/avtar.jpeg"/>
                                    </div>
                                    <div class="card-body">
                                      <h5 class="card-title">Meet ABC</h5>
                                      <p class="card-text">Gajendra will make sure your Supersourcing experience is Worthwhile!</p>
                                        <h5>Reach me on: </h5>
                                        <div><i class="fa-solid fa-envelope"></i> abc@developersiq.com</div>
                                        <div><i class="fa-solid fa-phone"></i> +91-000-000-0000</div>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-8  col-12">

                            </div>
                            
                        </div>
                       
                    </div>
                    
                </div>
                
                

                </div>
            </div>
            
        </div>
    </div>
</section>
