
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3  g-0 mobile-off">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9">
                <div class="right-panel">
                <div class="p-3">
                  <div class="desktop-none mobile-on">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="logo py-4"><img src="../../../assets/images/developers-iq-logo.png"/></div>
                        <span class="indicator blue10">Step 2/3</span>
                       </div>
                    </div>
                   <div class="d-flex justify-content-between align-items-center">
                    <h1><b>Great! 120+ vetted senior software engineers<br/> have skills you need?</b></h1>
                    <span class="indicator blue10 step-off">Step 2/3</span>
                   </div>
                  
                    <div class="py-4">
                        <div class="col-12">
                            <div class=" mb-3">
                            <div><label class="form-label">Are you a funded company?</label></div>                            
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="yes" id="yes" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="yes">Yes</label>
                              
                                <input type="radio" class="btn-check" name="no" id="no" autocomplete="off">
                                <label class="btn btn-outline-primary" for="no">NO</label>
                              </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <div><label class="form-label">Current employees in your company</label></div>                            
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="one" id="1" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="1">1-10</label>
                              
                                <input type="radio" class="btn-check" name="two" id="2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="2">11-50</label>

                                <input type="radio" class="btn-check" name="three" id="3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="3">51-250</label>
                              
                                <input type="radio" class="btn-check" name="four" id="4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="4">251-10K</label>
                               
                                <input type="radio" class="btn-check" name="five" id="5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="5">10K</label>
                            </div>
                              </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <form class="row g-3 needs-validation" novalidate>
                                    <div class="col-md-6">
                                      <label for="validationCustom01" class="form-label">Name*</label>
                                      <input type="text" class="form-control" id="validationCustom01" value="" required>
                                      <div class="valid-feedback">
                                        Looks good!
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="validationCustom02" class="form-label">Phone Number*</label>
                                      <input type="text" class="form-control" id="validationCustom02" value="" required>
                                      <div class="valid-feedback">
                                        Looks good!
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <label for="validationCustom03" class="form-label">Company Website (Optional)</label>
                                      <input type="text" class="form-control" id="validationCustom03" >
                                   
                                    </div>
                                    
                                    <div class="col-6 mt-3">
                                      <button class="btn btn-outline-primary" type="button" routerLink = "">Go back</button>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <button type="button" class="btn btn-primary" routerLink="../../lead-generate/step-third">Continue</button>
                                    </div>
                                  </form>
                                
                              </div>
                        </div>
                        
                       
                    </div>
                    
                </div>
                
                

                </div>
            </div>
            
        </div>
    </div>
</section>